<html ng-app="hof">
    <head>
        <link crossorigin="anonymous" href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body ng-controller="MainCtrl">    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" ng-repeat="item in items">
                    <button class="btn btn-lg" ng-class="{'btn-primary': item.main}" ng-click="order($index)">{{item.name}}</button>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th>Queued</th>
                    <th>Being processed</th>
                    <th>Processed</th>
                    <th>Picked</th>
                </tr>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{pendingItems[$index]}}</td>
                    <td>{{processingItems[$index]}}</td>
                    <td>{{finishedItems[$index]}}</td>
                    <td>{{pickedItems[$index]}}</td>
                </tr>
                
            </table>
        </div>                
        <script src="bower_components/lodash/dist/lodash.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>           
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-pouchdb/angular-pouchdb.js"></script>
        <script src="bower_components/pouchdb/dist/pouchdb.js"></script>
        <script src="app.js"></script>
    </body>
</html>